apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homerightapi
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/mbzebra/homeright.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: homelab
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true